* {
  /* background-color: #1d1b19; */
  transition: linear 0.4s;
  /* text-align: justify; */
  font-family: Jost, Arial, Helvetica, sans-serif;
}
.blink-bg {
  font-size: px;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  animation: blinkingBackground 3s infinite;
}
@keyframes blinkingBackground {
  0% {
    color: #28a745;
  }
  25% {
    color: #28a746c1;
  }
  50% {
    color: #85993b00;
  }
  75% {
    color: #29380d;
  }
  100% {
    color: rgba(56, 93, 30, 0.692) c1;
  }
}
.css-1p618nz-MuiInputBase-root-MuiFilledInput-root,.css-3gxrtx-MuiInputBase-root-MuiFilledInput-root{
  background-color: rgba(255, 255, 255, 0.09) !important;
  color: white !important;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 16px !important;
}
#send_message:hover {
  border-color: #cc3300;
  color: #cc3300;
  transition: 0.5s;
}
#send_message {
  border: 1px solid #888;
  width: "100%";
  transition: 0.5s;
}

.row .happycard {
  background: #f4f4f4;
  transition: 0.5s;
  cursor: pointer;
}
.happycard:hover {
  background: #e5e5e5;
}
.biography {
  display: flex;
}
@media (max-width: 1400px) {
  .biography {
    display: block !important;
  }
  .downloadBtn {
    margin-top: 50px;
  }
}
.MuiTabs-scroller {
  overflow-x: scroll !important;
}
.tab {
  color: #888;
}
.tab.active {
  color: #987750;
}

/* -------------------------projects---------------------- */
.details {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  background: rgb(152, 119, 80);
}
.projectCard:hover .content {
  display: block;
  transition: 0.8s;
}
.projectCard .content {
  display: none;
}
.projectCard:hover .details {
  opacity: 1;
  top: 0;
  color: white;
}

.carousel-inner::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
